.row-header{
    margin:0px;
    padding:0px;
}
.jumbotron{
    background-color:#566573;
    color:whitesmoke;
}
.row-content{
    margin:0px;
    padding:60px 0px 60px 0px;
}
.footer{
    margin:0px;
    padding: 20px 0px 20px 0px;
    background-color: #2C3E50 ;
    color: white;
}
.navbar{
    background-color: #2C3E50 ;
}
body{
    padding: 50px 0px 0px 0px;
}
#owner{
    height: 120px;
    width: 100px;
}
.tab-content{
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:20px 0px 0px 20px;
}

.carousel {
    background:#566573;
}

.carousel-item {
  height: 200px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButton{
    position:absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}
.modal-content{
    background-color: #566573;
}
.modal-body{
    background-color: lightgray;
}