.row-header{
    margin:0px;
    padding:0px;
}
.jumbotron{
    background-color:#566573;
    color:whitesmoke;
}
.row-content{
    margin:0px;
    padding:40px 0px 40px 0px;
}
.footer{
    margin:0px;
    padding: 20px 0px 20px 0px;
    background-color: #2C3E50 ;
    color: white;
}
.navbar{
    background-color: #2C3E50 ;
}
body{
    padding: 50px 0px 0px 0px;
}